body {
    margin: 0px;
    padding: 0px;
}

.navvy {
    background-color: black;
    width: 100vw;
    height: 100px;
    a {
        color: white;
        margin: 0px 20px;
        &:visited {
            color: orange;
        }
        &:hover {
            color: violet;
        }
    }
}